<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-1">
      <ul id="nav-mobile" class="left">
          <li><a class='dropdown-button' data-beloworigin="true" data-constrainwidth="false" href='#' data-activates='dropdown2'><i class="material-icons">menu</i></a></li>
      </ul>
      <a href="#" class="brand-logo center">Landslide Monitoring System</a>
      <img id="logo" class="brand-logo left" src="../images/ligtas-logo.jpg" alt="Ligtas Logo"/>

      <ul id="nav-mobile" class="right">
      
        <li><a class='dropdown-button1 btn teal transparent' data-beloworigin="true" href='#' data-activates='signin'><i class="material-icons left">account_circle</i><span class="right hide-on-med-and-down">Sign in</a></span></li>
      </ul>
    </div>

  </nav>
</div>

<!-- Dropdown Structure -->
<ul id='signin' class='dropdown-content'>
    <!-- <div class="right-align"> -->
    <a href="#" id='close-signin' class="right"><i class="tiny material-icons right-align" id="close-signin">close</i></a>
    <!-- </div> -->
    <div class="row container">
    <div class="col" id="login-statement"><h5> Login with Email</h5> </div>
    <div>
      
    </div>
       <form class="login-form" ng-submit="vm.login(user)" ng-data-model="user">
          <div class="row">
            <div class="input-field col s12">
              <input type="email" class="validate" name="email" ng-model="user.email" required>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="password" class="validate" name="password" ng-model="user.password" required>
              <label for="password">Password</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" action="submit" ng-disabled="vm.submitted==true">Login
            <!-- <i class="material-icons right">send</i> -->
          </button>
        </form>
        <div class="divider"></div>
        <span>Login with</span>
        <div  id="social-sign">
            <a class="waves-effect waves-light btn col s5 m5 facebook"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
            <a class="waves-effect waves-light btn col s5 m5 google "><i class="fa fa-google fa-fw"></i> Google</a>

        </div>
        </div>
</ul>

<div>
<ul id="dropdown2" class="dropdown-content">
<!--     <li>{{curr}}</li>
    <li><button ng-click=add()>jjjk</button></li> -->
  <li id="first-line">
  <div>
    <img src={{vm.data[curr].img_path}} id="rockslide">
    <a href="#" ><i class="tiny material-icons right-align" id="close-sidenav">close</i></a>
  </div>
  </li>

  <li>
    <div class="card-title grey darken-1 z-depth-2">
      <span class="white-text">&nbsp;{{vm.data[curr].type}}</span>
    </div>
  </li>
  <li>
    <span id="landslide_icon_span" >
     <i class="large material-icons" ng-click="prev()" id="arrow_back">arrow_back</i>
      <img src="../images/landslide_icon_big.png" alt="landslide_icon" id="landslide_icon">
      <i class="large material-icons" ng-click="next()" id="arrow_forward">arrow_forward</i>
    </span>
  </li>
  <li>
    <div class="col s12 m5">
      <div class="card-content teal lighten-3 z-depth-2" id="card_title_1a">
        <span class="black-text" id="card_title_1b">LOCATION</span>
        <span class="small material-icons edit_icon">create</span>
      </div>
    </div>
  </li>
  <li>
    <div class="col s12 m5">
      <div class="card-content teal lighten-4 z-depth-2" id="card_details_1a">
        <span id="card_details_1b">{{vm.data[curr].place}}</span>
      </div>
    </div>
  </li>
   <li>
    <div class="col s12 m5">
      <div class="card-content teal lighten-3 z-depth-2" id ="card_title_2a">
        <span class="black-text" id="card_title_2b">DATE AND TIME</span>
        <span class="small material-icons edit_icon">create</span>
      </div>
    </div>
  </li>
  <li>
    <div class="col s12 m5">
      <div class="card-content teal lighten-4 z-depth-2" id="card_details_2a">
        <span id="card_details_2b">{{vm.data[curr].date}}</span>
      </div>
    </div>
  </li>
  <li>
    <div class="col s12 m5">
      <div class="card-content teal lighten-3 z-depth-2" id ="card_title_3a">
        <span class="black-text" id="card_title_3b">LANDSLIDE DESCRIPTION</span>
        <span class="small material-icons edit_icon">create</span>
      </div>
    </div>
  </li>
  <li>
    <div class="col s12 m5">
      <div class="card-content teal lighten-4 z-depth-2" id="card_details_3a">
        <span id="card_details_3b">{{vm.data[curr].description}}</span>
      </div>
    </div>
  </li>
  <li>
    <div class="col s12 m5">
      <div class="card-content teal lighten-3 z-depth-2" id ="card_title_4a">
        <span class="black-text" id="card_title_4b">LANDSLIDE FEATURES</span>
        <span class="small material-icons arrow_down_icon">arrow_drop_down</span>
      </div>
    </div>
  </li>

  <li>
    <div class="col s12 m5">
      <div class="card-content teal lighten-3 z-depth-2" id ="card_title_5a">
        <span class="black-text" id="card_title_5b">LANDSLIDE FACTORS</span>
        <span class="small material-icons arrow_down_icon">arrow_drop_down</span>
      </div>
    </div>
  </li>

  <li>
    <div class="col s12 m5">
      <div class="card-content teal lighten-3 z-depth-2" id ="card_title_6a">
        <span class="black-text" id="card_title_6b">REPORTER DETAILS</span>
        <span class="small material-icons arrow_down_icon">arrow_drop_down</span>
      </div>
    </div>
  </li>
</ul>
</div>  

<script>
	$(document).ready(function () {
		$('.dropdown-button').dropdown({
      closeOnClick : false, 
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      // hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
    $('.dropdown-button1').dropdown({
      closeOnClick : false, //If true, close dropdown on item click.
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      // hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'right', // Displays dropdown with edge aligned to the right of button
    });

    $('.dropdown-button + .dropdown-content').on('click', function(event) {
      event.stopPropagation();
    });

    $('.dropdown-button1 + .dropdown-content').on('click', function(event) {
      event.stopPropagation();
    });

    $('#close-signin').on('click', function(event) {
      $('.dropdown-button1').dropdown('close');
    });

    $('#close-sidenav').on('click', function(event) {
      $('.dropdown-button').dropdown('close');
    });

  });
</script>


<!--<a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle logout">  <span class="premium-menu-title premium-menu-title-login">Log in</span>  </a>
        <ul id="fr24_SignInDropdown" class="dropdown-menu noclose">
        	<li>
        		<div class="tab-content">
        			<div class="tab-pane active clearfix" id="fr24_LoginSettings">  
        				<h4>Log in with email</h4>
        					<p id="fr24_SignInErrorMessage" class="alert alert-danger"></p>
        					<form action="/" method="post" class="ng-pristine ng-valid">
        						<ul class="signInForm">
        							<li><input id="fr24_SignInEmail" type="email" name="email" placeholder="Email" required="required"></li>
        							<li><input id="fr24_SignInPassword" type="password" name="password" placeholder="Password" required="required"></li>
        						</ul>
        						<div class="left bold">
        							<input type="checkbox" checked="checked" id="fr24_SignInRemember" name="remember">
        								<label for="fr24_SignInRemember"><span></span>Remember me</label></div>
        									<a id="fr24_ForgotPassword" href="javascript: void(0);" class="forgot-password">Forgot password?</a>
        									<div class="clear"></div>
        									<div id="responseMsgSignIn" style="display:none">
        										<span style="display:none" class="fr24-icon-success icon-fr24-check"></span> 
        										<span style="display:none" class="fr24-icon-error icon-fr24-exclamation"></span> 
        										<span class="text"></span>
    										</div>
											<div class="clear"></div>
											<button id="fr24_SignIn" type="button" class="btn btn-blue">Log in</button>
											<div class="socialAuth">
												<div class="info-text"><span>or log in with</span></div>
												<div class="clear"></div><span class="buttons">
												<a class="fr24-btn-google-plus" href="https://www.flightradar24.com/auth/googleplus/?request=true" title="Login with Google"><span class="fr24-icon-google-plus"></span> 
												<span class="fr24-btn-text">Google</span> </a>
												<a class="fr24-btn-facebook" href="https://www.flightradar24.com/auth/facebook/?request=true" title="Login with Facebook"><span class="fr24-icon-facebook"></span> <span class="fr24-btn-text">Facebook</span></a></span></div></form>
												<div class="find-out-more"><h4>Get more from Flightradar24</h4>
													<p class="info-text">Upgrade today to get access to more features and data.</p>
													<a class="btn-link-green-filled" href="https://www.flightradar24.com/premium"> 7-day FREE trial | Learn more</a>
													</div>
						</div>
					<div class="tab-controls clearfix"></div>
				</div>
			</li>
		</ul>-->