<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-1">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown2'>Menu</a></li>
    </ul>
      <a href="#" class="brand-logo">Landslide Monitoring System</a>
      <!--<img id="logo" class="brand-logo left" src="../../assets/images/logo_web.png" alt="Ligtas Logo"/>-->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Signin</a></li>
      </ul>
    </div>

  </nav>
</div>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">First Sidebar Link</a></li>
  <li><a href="#!">Second Sidebar Link</a></li>
</ul>

<script>
	$(document).ready(function () {
		$('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
    $(".button-collapse").dropdown({
           inDuration: 300,
           outDuration: 225,
           constrain_width: true, 
           hover: false, 
           gutter: 0, 
           belowOrigin: true 
           }
      );
	})
</script>


<!--<a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle logout">  <span class="premium-menu-title premium-menu-title-login">Log in</span>  </a>
        <ul id="fr24_SignInDropdown" class="dropdown-menu noclose">
        	<li>
        		<div class="tab-content">
        			<div class="tab-pane active clearfix" id="fr24_LoginSettings">  
        				<h4>Log in with email</h4>
        					<p id="fr24_SignInErrorMessage" class="alert alert-danger"></p>
        					<form action="/" method="post" class="ng-pristine ng-valid">
        						<ul class="signInForm">
        							<li><input id="fr24_SignInEmail" type="email" name="email" placeholder="Email" required="required"></li>
        							<li><input id="fr24_SignInPassword" type="password" name="password" placeholder="Password" required="required"></li>
        						</ul>
        						<div class="left bold">
        							<input type="checkbox" checked="checked" id="fr24_SignInRemember" name="remember">
        								<label for="fr24_SignInRemember"><span></span>Remember me</label></div>
        									<a id="fr24_ForgotPassword" href="javascript: void(0);" class="forgot-password">Forgot password?</a>
        									<div class="clear"></div>
        									<div id="responseMsgSignIn" style="display:none">
        										<span style="display:none" class="fr24-icon-success icon-fr24-check"></span> 
        										<span style="display:none" class="fr24-icon-error icon-fr24-exclamation"></span> 
        										<span class="text"></span>
    										</div>
											<div class="clear"></div>
											<button id="fr24_SignIn" type="button" class="btn btn-blue">Log in</button>
											<div class="socialAuth">
												<div class="info-text"><span>or log in with</span></div>
												<div class="clear"></div><span class="buttons">
												<a class="fr24-btn-google-plus" href="https://www.flightradar24.com/auth/googleplus/?request=true" title="Login with Google"><span class="fr24-icon-google-plus"></span> 
												<span class="fr24-btn-text">Google</span> </a>
												<a class="fr24-btn-facebook" href="https://www.flightradar24.com/auth/facebook/?request=true" title="Login with Facebook"><span class="fr24-icon-facebook"></span> <span class="fr24-btn-text">Facebook</span></a></span></div></form>
												<div class="find-out-more"><h4>Get more from Flightradar24</h4>
													<p class="info-text">Upgrade today to get access to more features and data.</p>
													<a class="btn-link-green-filled" href="https://www.flightradar24.com/premium"> 7-day FREE trial | Learn more</a>
													</div>
						</div>
					<div class="tab-controls clearfix"></div>
				</div>
			</li>
		</ul>-->