#map {
	margin-top: -25px;
  	height: 94%;
  	width: 100%;
  	position: absolute;
}

nav {
    height: 40px;
    line-height: 40px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 40px;
    line-height: 40px;
}

nav .button-collapse i {
    height: 40px;
    line-height: 40px;
}

nav .brand-logo { 
    font-size: 1.4em; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 40px;
        line-height: 40px;
    }
}
.searchnav{
	float: right;
	margin-right: 26px;
	margin-top: -10px;
	width: 18.7%;
	height: 40px;
}
.searchnav .search-icon{
	/*line-height: 40px;*/
	/*margin-bottom: 100px;*/
	margin-top: -9px;
}
#search{
	/*vertical-align: middle;*/
	/*position: relative;*/
	/*vertical-align: middle;*/
	/*line-height: normal;*/
	/*width: 150px;*/
	background: none;

}
/*#search{
	width: 176px;
    background: none;
}*/
#Landslide {
	height: 100%;
}

#LandslideOccurTitle {
	font-size: 18px;
	margin-top:-15px;
	/*margin-bottom: 6px;*/
	padding-bottom: -10px;
	font-weight:bold;
	vertical-align: middle;

}

#LandslideBody {
	padding:0px;
	margin-top:5px;
	height: 150px;
}

#LandslideTimeContainer {
	margin-left:-10px;
	width: 100px;
}

#LandslideTime {
	margin-top: -5px;
	width: 100%;
}

#LandslideCount {
	/*margin-top: 5px;*/
	margin-bottom: 5px;
	margin-left:40px;
}

#LandslideView {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: -10px;
	margin-left: 120px;
	/*float: right;*/
}

#SendReports {
	margin-top: 15px;
}

#ReportField {
	height:30px;
	margin-bottom: 10px;
	font-color: white;

}

#SubmitButton {
	margin-left:50px;
}

#dropdown2 {
	overflow-y: hidden;
	background: rgba(1,1,1,0.6);
	height: 100em;
	width: 20%;
}

#dropdown2 li:not(#first-line) {
	pointer-events:none;
}

#dropdown2 .material-icons {
	pointer-events: auto;
}

#dropdown2 li:hover {
	background: none;
}

#first-line {
	position: relative;
  	display: inline-block;
}

#dropdown2 #rockslide {
	height: 150px;
	width: 100%;
}

#close-sidenav {
	position: absolute;
	left: 95%;
	top: 8%;
	transform: translate(-50%, -50%);
}

.card-title {
	margin-left: 0px;
	margin-top: 0px;
	height: 25px;
	width: 100%;
}

#card_title_1a {
	margin-top: -5px;
	height: 23px;
	width: 100%;
}

#card_title_1b {
	margin-left: 34%;
}

#landslide_icon_span {
	margin-top: -25px;
	text-align: center;
}

#arrow_back {
	float: left;
}

#arrow_forward {
	float: right;
}

#landslide_icon {
	height: 10%;

	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.edit_icon {
	float: right;
}

.arrow_down_icon {
	float: right;
}

#card_details_1a {
	margin-top: -30px;
	height: 23px;
	width: 100%;
}

#card_details_1b {
	margin-left: 7%;
	font-size: 14px;
}

#card_title_2a {
	margin-top: -50px;
	height: 23px;
	width: 100%;
}

#card_title_2b {
	margin-left: 28%;
}

#card_details_2a {
	margin-top: -75px;
	height: 23px;
	width: 100%;
}

#card_details_2b {
	margin-left: 12%;
	font-size: 14px;
}

#card_title_3a {
	margin-top: -95px;
	height: 23px;
	width: 100%;
}

#card_title_3b {
	margin-left: 14%;
}

#card_details_3a {
	margin-top: -120px;
	height: 70px;
	width: 100%;
}

#card_details_3b {
	margin-left: 0.5%;
	font-size: 14px;
	white-space: pre-wrap; 
}

#card_title_4a {
	margin-top: -93px;
	height: 23px;
	width: 100%;
}

#card_title_4b {
	margin-left: 15%;
}

#card_title_5a {
	margin-top: -113px;
	height: 23px;
	width: 100%;
}

#card_title_5b {
	margin-left: 17%;
}

#card_title_6a {
	margin-top: -132px;
	height: 23px;
	width: 100%;
}

#card_title_6b {
	margin-left: 18%;
}

#signin  {
	background: rgba(64,64,64,1);
	min-width: 20%;
	text-align: center;
	margin-right: 0%;
	z-index: 1;
}

#loginbtn{
	width: 100%;
	margin: 200px;
}
#social-signin {
	/*margin-left: 100px;*/
}
#dropdown1 .material-icons {
	pointer-events: none;
}


#close-signin {
	/*position: relative;*/
	padding-top: 0px;
  	display: inline-block;
}
#logo {
	margin-top: 0.25%;
	height: 80%;
}
#login-statement{
	padding: 10px;
}
#right-info{
	float: right;
	margin-top: 1em;
	margin-left: 79%;
	position: absolute;
	width: 20%;
}
.filterdiv{
	width: 100px;
	position: absolute;
}